<h1>Editing Teacher Grader</h1>

<%= render 'form' %>

<div class="mt-4">
  <%= link_to 'Show', teacher_grader_path(@grader), class: 'btn btn-success' %>
  <%= link_to 'Back', teacher_graders_path, class: 'btn btn-success' %>
</div>
