<div class="row mt-4">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Go to profile</h5>
        <p class="card-text">Manage profile</p>
        <a href="/student/profile" class="btn btn-primary">Go to profile</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Go to applies</h5>
        <p class="card-text">Manage applies</p>
        <a href="/student/applies" class="btn btn-primary">Go to applies</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Go to graders</h5>
        <p class="card-text">Manage graders</p>
        <a href="/student/graders" class="btn btn-primary">Go to graders</a>
      </div>
    </div>
  </div>
</div>
