<div class="row mt-4">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Go to admin</h5>
        <p class="card-text">Admin Manage something</p>
        <a href="/admin" class="btn btn-primary">Go to admin</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Go to teacher</h5>
        <p class="card-text">Teacher Manage something</p>
        <a href="/teacher" class="btn btn-primary">Go to teacher</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Go to student</h5>
        <p class="card-text">Student Manage something</p>
        <a href="/student" class="btn btn-primary">Go to student</a>
      </div>
    </div>
  </div>
</div>
