<h1>Editing Student Apply</h1>

<%= render 'form' %>

<div class="mt-4">
  <%= link_to 'Show', student_apply_path(@apply), class: 'btn btn-success' %>
  <%= link_to 'Back', student_applies_path, class: 'btn btn-success' %>
</div>
