<!-- saved from url=(0066)http://web.cse.ohio-state.edu/~mikebond/?tdsourcetag=s_pcqq_aiomsg -->
<html>
<head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>
            Home page of Michael D. Bond
      </title>

      <script src="./Home page of Michael D. Bond_files/hm.js.下载"></script>
      <script src="./Home page of Michael D. Bond_files/namefix.js.下载"></script>
      <script src="./Home page of Michael D. Bond_files/jquery.js.下载"></script>
      <script>
          $(function () {
              $("#news").load("news.html");
          });
      </script>

</head>

<body bgcolor="#ffffff" text="#000000">




<table cellpadding="10">

      <tbody>
      <tr>
            <td valign="top">
                  <img src="../img/1.jpeg" width="200">
                  <p>
                        <br>
                        Michael D. Bond
                  </p>
                  <p>
                        Associate Professor<br>
                        Computer Science &amp; Engineering<br>
                        Ohio State University
                  </p>
                  <p>
                        <a href="mailto:mikebond@cse.ohio-state.edu">mikebond@cse.ohio-state.edu</a>
                  </p>
                  <p>
                        697 Dreese Labs
                  </p>
                  <p>
                        <b>On sabbatical Autumn 2018 – Spring 2019</b>
                  </p></td>

            <td valign="top" width="30%">
                  <table border="1" cellpadding="10">
                        <tbody>
                        <tr>
                              <td>
                                    <center><h2>NEWS</h2></center>
                                    <div id="news"> Swarnendu Biswas's paper on
                                          <a href="Publication%20Details.html">rethinking
                                                support for region conflict exceptions</a>
                                          has been accepted to IPDPS 2019!
                                          <p>
                                                Jake Roemer's paper on
                                                <a href="high-coverage.html">high-coverage,
                                                      unbounded predictive race detection</a>
                                                appeared at PLDI 2018!
                                          </p>
                                          <p>
                                                A paper on <a
                                                  href="instrumentation.html">instrumentation
                                                bias for efficient data race detection</a><a>
                                                co-authored by PLaSS members Man Cao and Mike Bond
                                                and led by Ben Wood (Wellesley College)
                                                appeared at OOPSLA 2017!
                                          </a></p>
                                          <p><a>
                                                Man Cao's paper on
                                          </a><a href="hybridizing.html">
                                                hybridizing and relaxing dependence tracking</a>
                                                has been published in a special edition of ACM Transactions on Parallel
                                                Computing (TOPC) in August 2017!
                                          </p>
                                          <p>
                                                Aritra Sengupta defended his dissertation and graduated in Spring 2017!
                                                He joined Samsung Research America in July.
                                          </p>
                                          <p>
                                                Man Cao defended his dissertation and graduated in Spring 2017! He
                                                joined Google in May.
                                          </p>
                                          <p>
                                                Minjia Zhang's paper on <a
                                                  href="avoiding.html">avoiding
                                                consistency exceptions under strong memory models</a>
                                                appeared at ISMM 2017!
                                          </p>
                                          <p>
                                                Aritra Sengupta's paper on <a
                                                  href="commodity.html">commodity
                                                HTM support for bounded region serializability</a>
                                                appeared at CGO 2017!
                                          </p>
                                          <p>
                                                Swarnendu Biswas's paper on <a
                                                  href="lightweight.html">lightweight
                                                data race detection for production runs</a>
                                                appeared at CC 2017!

                                          </p></div>
                              </td>
                        </tr>
                        </tbody>
                  </table>
                  <!--</tr>
                  </table>

                  <table cellpadding=10>
                  <tr>-->
            </td>
            <td valign="top" width="40%">
                  <table border="1" cellpadding="10">
                        <tbody>
                        <tr>
                              <td>
                                    <center><h2>RESEARCH</h2></center>
                                    My <a href="research.html"><b>research
                                    group</b></a>
                                    develops program analyses and software systems
                                    that make complex, concurrent software significantly more
                                    reliable, scalable, and secure than it is today.
                                    <p>
                                          General interests: programming languages, software and hardware systems,
                                          program analysis, compilers, security
                                    </p>
                                    <p>
                                          <a href="Publications.html"><b>Publications</b></a>
                                    </p>
                                    <p>
                                          <a href="Publicly%20available.html">Publicly
                                                available research software</a> (see "Source code" for each paper)
                                    </p>
                                    <p>
                                          Current advisees:
                                    </p>
                                    <ul>
                                          <li>Kaan Genç&nbsp; (PhD student)
                                          </li>
                                          <li>Jake Roemer&nbsp; (PhD candidate)
                                          </li>
                                          <li>Rui Zhang&nbsp; (PhD student)
                                          </li>
                                    </ul>
                                    Graduated advisees, with positions as of 2019:
                                    <ul>
                                          <li><a href="Man%20Cao.html">Man Cao</a>&nbsp; (PhD,
                                                2017) — Google
                                          </li>
                                          <li><a href="Aritra%20Sengupta.html">Aritra Sengupta</a>&nbsp;
                                                (PhD, 2017) — Samsung Research America
                                          </li>
                                          <li><a href="Swarnendu%20Biswas'%20Home%20Page.html">Swarnendu Biswas</a>&nbsp;
                                                (PhD, 2016) — assistant professor at IIT Kanpur
                                          </li>
                                          <li><a href="Man%20Cao.html">Minjia Zhang</a>&nbsp; (PhD, 2016) —
                                                Microsoft Research
                                          </li>
                                          <li><a href="黄继鹏.html">Jipeng Huang</a>&nbsp; (MS, 2014) —
                                                Apple
                                          </li>
                                    </ul>
                              </td>
                        </tr>
                        </tbody>
                  </table>
            </td>
            <td valign="top" width="20%">
                  <table border="1" cellpadding="10" width="100%">
                        <tbody>
                        <tr>
                              <td>
                                    <center><h2>TEACHING</h2></center>
                                    <!--Waitlisted for a section of 3341? Visit the course web page for info.
                                    <p>-->
                                    No teaching Autumn 2018 – Spring 2019 (on sabbatical)
                                    <p>
                                          <!--
                                          P.S. If you're on the waitlist for a section of 3341:

                                          If you're interested in getting enrolled, please attend class while you're on the waitlist! During the first week of class, the enrollment system will automatically enroll waitlisted students as spots become available. During the second week of class, as spaces become available in each section, I'll help students get enrolled based on the same order used by the enrollment system (per CSE department policy): (1) priority for CSE/CIS/DA majors and (2) waitlist order.

                                          Please understand that, in an effort to be fair to everyone, I won't help anyone get into the class out of priority+waitlist order, and I won't start adding anyone before the second week of class. When you're eligible to be added, I'll let you know by contacting you via Piazza and in class. So you don't need to do anything other than attend class and check e-mail/Piazza. :)
                                          -->
                                          <a href="Past%20teaching.html">Past
                                                teaching</a>
                                    </p></td>
                        </tr>
                        </tbody>
                  </table>
                  <!--<td valign=top width=25%>-->
                  <p>
                        <table border="1" cellpadding="10" width="100%">
                              <tbody>
                              <tr>
                                    <td>
                                          <center><h2>MISC</h2></center>

                                          <a href="Activities.html">
                                                <!--Past -->Activities</a>
                  <p>
                        <a href="Awards.html">Awards</a>
                  </p>
                  <p>
                        <a href="Funding.html">Funding</a>
                  </p></td>
      </tr>
      </tbody>
</table>
</p></td></tr>
</tbody></table>


<script> var _hmt = _hmt || [];
(function () {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?0bd5902d44e80b78cb1cd01ca0e85f4a";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
})(); </script>
</body>
</html>