<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- saved from url=(0039)http://web.cse.ohio-state.edu/~cao.235/ -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Man Cao</title>
<style type="text/css">
* {margin: 0; padding: 0;}
body { font: 16px Helvetica, Sans-Serif; line-height: 24px;}
.clear { clear: both; }
#headpic { float: left; margin: -5px 40px 0 40px;}
h1.myname { margin: 20px 0 5px 0; font-size: 32px; font-weight: bold;}
p { margin-bottom: 16px; }
ul { margin: 0px 0 16px 40px; }
div.about { padding: 16px 0 0 26px; border-top: 1px solid #999;}
div.about h2 { font-size: 20px; margin-bottom: 16px; } 
td.pubconf { padding-right: 20px; text-align: right; }
</style>
<script src="./Man Cao_files/hm.js.下载"></script><script type="text/javascript" async="" src="./Man Cao_files/ga.js.下载"></script><script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30213503-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

function toggle(id) {
  var e = document.getElementById(id);
  if (e.style.display == '')
    e.style.display = 'none';
  else
    e.style.display = '';
}
</script>
</head>
<body inmaintabuse="true">
<div id="contact-info">
<img src="../img/head.jpg" id="headpic" alt="headpicture">
<h1 class="myname">Man Cao</h1>
<p>
<a href="http://cse.osu.edu/">Department of
Computer Science and Engineering</a><br>
<a href="http://www.osu.edu/">The Ohio State University</a></p>
<table border="0">
  <tbody>
<!--<tr>
<td>Lab: </td>
<td>674 Dreese Labs</td>
    </tr>
-->
    <tr>
      <td>Email: </td>
      <td>caoma <b> AT </b> cse <b> DOT </b>
ohio-state <b> DOT </b> edu</td>
    </tr>
    <tr>
      <td><br>
      </td>
      <td>cao <b> DOT </b> 235 <b> AT </b>
osu <b> DOT </b> edu</td>
    </tr>
  </tbody>
</table>
<br>
<!--
<p>Mailing Address:<br />
395 Dreese Laboratories<br />
2015 Neil Avenue<br />
Columbus, OH 43210</p>
-->
<div class="clear"></div>
</div>


<div class="about">
<p>I am now a software engineer in the Java Platform Team at Google Inc. I received my Ph.D. in May, 2017. I was a member of the <a href="http://www.cse.ohio-state.edu/~mikebond/plass/">PLaSS</a> research group, led by <a href="http://www.cse.ohio-state.edu/~mikebond/">Prof. Michael Bond</a>.</p>
<p>I came to study in the <a href="http://www.cse.ohio-state.edu/">Department of Computer
Science and Engineering</a> at <a href="http://www.osu.edu/">The Ohio State University</a> in September, 2011. 
Prior to that, I received my B.E. in computer science from <a href="http://www.zju.edu.cn/">Zhejiang University</a>, China.</p>
</div>
<div class="about">
<h2>Research Interests</h2>
<p>My research insterests include Software Systems, Runtime Systems and Computer Architecture. Currently I am particularly interested in:</p>
<ul>
<li>Dynamic analysis of concurrent programs</li>
</ul>
</div>
<div class="about">
<h2>Publications</h2>
<p>
</p><table>
 <tbody><tr>
 <td class="pubconf">OOPSLA<br>2017</td>
 <td><a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#fib">Instrumentation Bias for Dynamic Data Race Detection</a> <br>
Benjamin P. Wood, <b>Man Cao</b>, Michael D. Bond, and Dan Grossman
 </td>
 </tr>
 <tr>
 <td class="pubconf">TOPC<br>2017</td>
 <td><a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#hybrid-relaxed-tracking-topc">Hybridizing and Relaxing Dependence Tracking for Efficient Parallel Runtime Support</a> <br>
<b>Man Cao</b>, Minjia Zhang, Aritra Sengupta, Swarnendu Biswas, and Michael D. Bond
 </td>
 </tr>
 <tr>
 <td class="pubconf">CGO<br>2017</td>
 <td><a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#legato">Legato: End-to-End Bounded Region Serializability Using Commodity Hardware Transactional Memory</a> <br>
     Aritra Sengupta, <b>Man Cao</b>, Michael D. Bond, and Milind Kulkarni
 </td>
 </tr>
 <tr>
 <td class="pubconf">CC<br>2017</td>
 <td><a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#racechaser-caper">Lightweight Data Race Detection for Production Runs</a> <br>
     Swarnendu Biswas, <b>Man Cao</b>, Minjia Zhang, Michael D. Bond, and Benjamin P. Wood
 </td>
 </tr>
 <tr>
 <td class="pubconf">ISMM<br>2016</td>
 <td><a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#prescient-memory">Prescient Memory: Exposing Weak Memory Model Behavior by Looking into the Future</a> <br>
     <b>Man Cao</b>, Jake Roemer, Aritra Sengupta, and Michael D. Bond
 </td>
 </tr>
 <tr>
 <td class="pubconf">PPoPP<br>2016</td>
 <td><a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#hybrid-tracking">Drinking from Both Glasses: Combining Pessimistic and Optimistic Tracking of Cross-Thread Dependences</a> <br>
     <b>Man Cao</b>, Minjia Zhang, Aritra Sengupta, and Michael D. Bond
 </td>
 </tr>
 <tr>
 <td class="pubconf">PPPJ<br>2015</td>
 <td><a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#replay">Efficient Deterministic Replay of Multithreaded Programs Based on Efficient Tracking of Cross-Thread Dependences</a> <br>
     Michael D. Bond, Milind Kulkarni, <b>Man Cao</b>, Meisam Fathi Salmi, and Jipeng Huang
 </td>
 </tr>
 <tr>
 <td class="pubconf">PPPJ<br>2015</td>
 <td><a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#hybrid-enforser">Toward Efficient Strong Memory Model Support for the Java Platform via Hybrid Synchronization</a> <br>
     Aritra Sengupta, <b>Man Cao</b>, Michael D. Bond, and Milind Kulkarni
 </td>
 </tr>
 <tr>
 <td class="pubconf">PPoPP<br>2015</td>
 <td><a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#larktm">Low-Overhead Software Transactional Memory with Progress Guarantees and Strong Semantics</a> <br>
     Minjia Zhang, Jipeng Huang, <b>Man Cao</b>, and Michael D. Bond
 </td>
 </tr>
 <tr>
 <td class="pubconf">DNIS<br>2015</td>
 <td><a href="http://link.springer.com/chapter/10.1007%2F978-3-319-16313-0_9">Interactive Tweaking of Text Analytics Dashboards</a> <br>
     Arnab Nandi, Ziqi Huang, <b>Man Cao</b>, Micha Elsner, Lilong Jiang, Srinivasan Parthasarathy, Ramiya Venkatachalam
 </td>
 </tr>
 <tr>
 <td class="pubconf">WoDet<br>2014</td>
 <td><a href="http://www.cse.ohio-state.edu/~mikebond/papers.html#adaptive-sync">Drinking from Both Glasses: Adaptively Combining Pessimistic and Optimistic Synchronization for Efficient Parallel Runtime Support</a> <br>
     <b>Man Cao</b>, Minjia Zhang, and Michael D. Bond
 </td>
 </tr>
 <tr>
 <td class="pubconf">OOPSLA<br>2013</td>
 <td><a href="http://www.cse.ohio-state.edu/~mikebond/papers.html#octet">Octet: Capturing and Controlling Cross-Thread Dependences Efficiently</a> <br>
     Michael D. Bond, Milind Kulkarni, <b>Man Cao</b>, Minjia Zhang, Meisam Fathi Salmi, Swarnendu Biswas, Aritra Sengupta, and Jipeng Huang
 </td>
 </tr>
</tbody></table>
<p>
</p><p><a href="http://web.cse.ohio-state.edu/~cao.235/#" onclick="toggle(&#39;prev-pubs&#39;)"><em><b>Previous Publications</b></em></a></p>
<ul id="prev-pubs" style="display:none">
<li><a href="http://dx.doi.org/10.1016/j.jcss.2012.05.002">Regional cache organization for NoC based many-core processors</a><br>
John M. Ye, <b>Man Cao</b>, Zening Qu, and Tianzhou Chen. <em>Journal of Computer and System Sciences (JCSS)</em>, Volume 79 Issue 2, March, 2013
</li>
<li>
<a href="http://dx.doi.org/10.1109/GreenCom-CPSCom.2010.169">Construction of Mobile Internet Courses</a><br>
<b>Man Cao</b>, Baixing Quan, Tianzhou Chen, and Xueqing Lou. <em>IEEE/ACM Int'l Conference on Green Computing and Communications (GreenCom'10)</em>, December, 2010
</li>
<li>
<a href="http://dx.doi.org/10.1109/CIT.2010.53">Distributed Memory Management Units Architecture for NoC-based CMPs</a><br>
<b>Cao Man</b>, Xie Bin, Qiao Fuming, Shi Qingsong, Chen Tianzhou, and Yan Like. <em>IEEE 10th International Conference on Computer and Information Technology (CIT'10)</em>, June, 2010
</li>
<li>
<a href="http://dx.doi.org/10.1109/CIT.2010.396">Augmenting NoC with Naming Service for Slot-based Reconfigurable Devices on Chip</a><br>
Li-ke Yan, Yuan Wen, <b>Man Cao</b>, Tian-zhou Chen, and De-gui Feng. <em>IEEE 10th International Conference on Computer and Information Technology (CIT'10)</em>, June, 2010
</li>
<li>
<a href="http://dl.acm.org/citation.cfm?id=1353892">ChipOS based grid computing</a><br>
Jijun Ma, <b>Man Cao</b>, Wei Ma, and Tianzhou Chen. <em>7th WSEAS International Conference on Simulation, Modelling and Optimization (SMO'07)</em>, September, 2007
</li>
</ul>
</div>
<div class="about">
<h2>Teaching</h2>
<ul>
<li>Instructor, Spring 2013, <a href="http://www.cse.ohio-state.edu/cse1223/">
CSE1223 --- Introduction to Computer Programming In Java</a> </li>
<li>Instructor, Autumn 2012, <a href="http://www.cse.ohio-state.edu/cse1223/">
CSE1223 --- Introduction to Computer Programming In Java</a> </li>
<li>Instructor, Spring 2012, <a href="http://www.cse.ohio-state.edu/~caoma/cse459.23/">
CSE459.23 --- Programming in Java</a> <br>
Grader, Spring 2012, <a href="http://www.cse.ohio-state.edu/~babic/Cse675.02.Spring2012.sylabus.html">
CSE675.02 --- Introduction to Computer Architecture</a></li>
<li>Grader, Winter 2012, CSE660 --- Introduction to Operating Systems<br>
Grader, Winter 2012, CSE675.01 --- Introduction to Computer
Architecture</li>
  <li>Grader, Autumn 2011, CSE675.01 &amp; CSE675.02 ---
Introduction to Computer Architecture</li>
</ul>
</div>


<div class="about"><address>Last Updated on: September, 2017</address>
<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=7775652; 
var sc_invisible=0; 
var sc_security="e336a2de"; 
var sc_text=2; 
</script>
<script type="text/javascript" src="./Man Cao_files/counter.js.下载"></script><script src="./Man Cao_files/text.php"></script>6,445

<noscript><div class="statcounter"><a title="free hit
counter" href="http://statcounter.com/free-hit-counter/"><img class="statcounter"
src="http://c.statcounter.com/7775652/0/e336a2de/0/"
alt="free hit counter" /></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->
<p><a href="http://validator.w3.org/check?uri=referer"><img src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0 Strict" height="31" width="88"></a></p>
</div>

<script> var _hmt = _hmt || []; (function() { var hm = document.createElement("script"); hm.src = "https://hm.baidu.com/hm.js?0bd5902d44e80b78cb1cd01ca0e85f4a"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s); })(); </script></body></html>