
<!-- saved from url=(0049)http://web.cse.ohio-state.edu/~mikebond/pubs.html -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>
    Publications
  </title>
  <script src="./Publications_files/hm.js.下载"></script><script src="./Publications_files/namefix.js.下载"></script></head>

  

  <body bgcolor="#ffffff" text="#000000">

  <h3> Publications of <a href="http://web.cse.ohio-state.edu/~mikebond/plass.html">PLaSS</a> and Mike Bond</h3>
  <hr>

    <h3>Recent Work Published as Technical Reports</h3>
    <table>

    <tbody><tr>
      <td> Tech report (2016) &nbsp;&nbsp;
      </td><td> <a href="http://web.cse.ohio-state.edu/~mikebond/raptor-tr.pdf">An Online Dynamic Analysis for Sound Predictive Data Race Detection</a>
      <br> Jake Roemer and Michael D. Bond

    </td></tr></tbody></table>

    <h3>Refereed Publications</h3>
    <table>

    <tbody><tr>
      <td> IPDPS 2019
      </td><td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#arc">Rethinking Support for Region Conflict Exceptions</a>
      <br> Swarnendu Biswas, Rui Zhang, Michael D. Bond, and Brandon Lucia

    </td></tr><tr>
      <td> PLDI 2018
      </td><td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#vindicator">High-Coverage, Unbounded Sound Predictive Race Detection</a>
      <br> Jake Roemer, Kaan Genç, and Michael D. Bond

    </td></tr><tr>
      <td> OOPSLA 2017
      </td><td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#fib">Instrumentation Bias for Dynamic Data Race Detection</a>
      <br> Benjamin P. Wood, Man Cao, Michael D. Bond, and Dan Grossman

    </td></tr><tr>
      <td> TOPC (2017)
      </td><td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#hybrid-relaxed-tracking-topc">Hybridizing and Relaxing Dependence Tracking for Efficient Parallel Runtime Support</a>
      <br> Man Cao, Minjia Zhang, Aritra Sengupta, Swarnendu Biswas, and Michael D. Bond

    </td></tr><tr>
      <td> ISMM 2017
      </td><td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#avalon">Avoiding Consistency Exceptions Under Strong Memory Models</a>
      <br> Minjia Zhang, Swarnendu Biswas, and Michael D. Bond

    </td></tr><tr>
      <td> CGO 2017
      </td><td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#legato">Legato: End-to-End Bounded Region Serializability Using Commodity Hardware Transactional Memory</a>
      <br> Aritra Sengupta, Man Cao, Michael D. Bond, and Milind Kulkarni

    </td></tr><tr>
      <td> CC 2017
      </td><td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#racechaser-caper">Lightweight Data Race Detection for Production Runs</a>
      <br> Swarnendu Biswas, Man Cao, Minjia Zhang, Michael D. Bond, and Benjamin P. Wood

    </td></tr><tr>
      <td> ISMM 2016
      </td><td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#prescient-memory">Prescient Memory: Exposing Weak Memory Model Behavior by Looking into the Future</a>
      <br> Man Cao, Jake Roemer, Aritra Sengupta, and Michael D. Bond

    </td></tr><tr>
      <td> CC 2016
      </td><td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#relaxed-tracking">Relaxed Dependence Tracking for Parallel Runtime Support</a>
      <br> Minjia Zhang, Swarnendu Biswas, and Michael D. Bond

    </td></tr><tr>
      <td> PPoPP 2016
      </td><td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#hybrid-tracking">Drinking from Both Glasses:
           Combining Pessimistic and Optimistic Tracking of Cross-Thread Dependences</a>
      <br> Man Cao, Minjia Zhang, Aritra Sengupta, and Michael D. Bond

    </td></tr><tr>
      <td> OOPSLA 2015
      </td><td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#valor">Valor: Efficient, Software-Only Region Conflict Exceptions</a>
      <br> Swarnendu Biswas, Minjia Zhang, Michael D. Bond, and Brandon Lucia

    </td></tr><tr>
      <td> PPPJ 2015
      </td><td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#replay">Efficient Deterministic Replay of Multithreaded Executions in a Managed Language Virtual Machine</a>
      <br> Michael D. Bond, Milind Kulkarni, Man Cao, Meisam Fathi Salmi, and Jipeng Huang

    </td></tr><tr>
      <td> PPPJ 2015
      </td><td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#hybrid-enforser">Toward Efficient Strong Memory Model Support for the Java Platform via Hybrid Synchronization</a>
      <br> Aritra Sengupta, Man Cao, Michael D. Bond, and Milind Kulkarni

    </td></tr><tr>
      <td> ASPLOS 2015
      </td><td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#enforser">Hybrid Static–Dynamic Analysis for Statically Bounded Region Serializability</a>
      <br> Aritra Sengupta, Swarnendu Biswas, Minjia Zhang, Michael D. Bond, and Milind Kulkarni

    </td></tr><tr>
      <td> PPoPP 2015
      </td><td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#larktm">Low-Overhead Software Transactional Memory with Progress Guarantees and Strong Semantics</a>
      <br> Minjia Zhang, Jipeng Huang, Man Cao, and Michael D. Bond

    </td></tr><tr>
      <td> PLDI 2014
      </td><td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#doublechecker">DoubleChecker: Efficient Sound and Precise Atomicity Checking</a>
      <br> Swarnendu Biswas, Jipeng Huang, Aritra Sengupta, and Michael D. Bond

    </td></tr><tr>
      <td> TOPLAS (2014)&nbsp;&nbsp;
      </td><td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#laminar-toplas">Practical Fine-Grained Information Flow Control Using Laminar</a>
      <br> Donald E. Porter, Michael D. Bond, Indrajit Roy, Kathryn S. McKinley, and Emmett Witchel

    </td></tr><tr>
      <td> WoDet 2014
      </td><td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#adaptive-sync">Drinking from Both Glasses:
           Adaptively Combining Pessimistic and Optimistic Synchronization for
           Efficient Parallel Runtime Support</a>
      <br> Man Cao, Minjia Zhang, and Michael D. Bond

    </td></tr><tr>
      <td> OOPSLA 2013
      </td><td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#octet">Octet: Capturing and Controlling Cross-Thread Dependences Efficiently</a>
      <br> Michael D. Bond, Milind Kulkarni, Man Cao, Minjia Zhang, Meisam Fathi Salmi, Swarnendu Biswas, Aritra Sengupta, and Jipeng Huang

    </td></tr><tr>
      <td> OOPSLA 2013
      </td><td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#ccu">Efficient Context Sensitivity for Dynamic Analyses via Calling Context Uptrees and Customized Memory Management</a>
      <br> Jipeng Huang and Michael D. Bond

    </td></tr><tr>
      <td> PLDI 2011
      </td><td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#leak-chaser">LeakChaser: Helping Programmers Narrow Down Causes of Memory Leaks</a>
      <br> Guoqing "Harry" Xu, Michael D. Bond, Feng Qin, and Atanas Rountev

    </td></tr><tr>
      <td> PLDI 2011
      </td><td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#security-policy-oracle">A Security Policy Oracle: Detecting Security Holes Using Multiple API Implementations</a>
      <br> Varun Srivastava, Michael D. Bond, Kathryn S. McKinley, and Vitaly Shmatikov

    </td></tr><tr>
      <td> PLDI 2010
      </td><td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#pacer">Pacer: Proportional Detection of Data Races</a>
      <br> Michael D. Bond, Katherine E. Coons, and Kathryn S. McKinley

    </td></tr><tr>
      <td> PLDI 2010
      </td><td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#breadcrumbs">Breadcrumbs: Efficient Context Sensitivity for Dynamic Bug Detection Analyses</a>
      <br> Michael D. Bond, Graham Z. Baker, and Samuel Z. Guyer

    </td></tr><tr>
      <td> PLAS 2010
      </td><td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#pecan">Efficient, Context-Sensitive Detection of Real-World Semantic Attacks</a>
      <br>Michael D. Bond, Varun Srivastava, Kathryn S. McKinley, and Vitaly Shmatikov

    </td></tr><tr> 
      <td> ASPLOS 2009
      </td><td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#leak-pruning">Leak Pruning</a>
      <br> Michael D. Bond and Kathryn S. McKinley

    </td></tr><tr>
      <td> PLDI 2009
      </td><td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#laminar">Laminar: Practical Fine-Grained Decentralized Information Flow Control</a>
      <br> Indrajit Roy, Donald E. Porter, Michael D. Bond, Kathryn S. McKinley, and Emmett Witchel

    </td></tr><tr>
      <td> OOPSLA 2008
      </td><td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#melt">Tolerating Memory Leaks</a>
      <br> Michael D. Bond and Kathryn S. McKinley

    </td></tr><tr>
      <td> OOPSLA 2007
      </td><td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#pcc">Probabilistic Calling Context</a>
      <br> Michael D. Bond and Kathryn S. McKinley

    </td></tr><tr>
      <td> OOPSLA 2007
      </td><td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#origin-tracking">Tracking Bad Apples: Reporting the Origin of Null and Undefined Value Errors</a>
      <br> Michael D. Bond, Nicholas Nethercote, Stephen W. Kent, Samuel Z. Guyer, and Kathryn S. McKinley

    </td></tr><tr>
      <td> CC 2007
      </td><td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#cgc">Correcting the Dynamic Call Graph Using Control Flow Constraints</a>
      <br> Byeongcheol Lee, Kevin Resnick, Michael D. Bond, and Kathryn S. McKinley

    </td></tr><tr>
      <td> ASPLOS 2006
      </td><td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#bell">Bell: Bit-Encoding Online Memory Leak Detection</a>
      <br> Michael D. Bond and Kathryn S. McKinley

    </td></tr><tr>
      <td> MICRO 2005
      </td><td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#pep">Continuous Path and Edge Profiling</a>
      <br> Michael D. Bond and Kathryn S. McKinley

    </td></tr><tr>
      <td> CGO 2005
      </td><td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#ppp">Practical Path Profiling for Dynamic Optimizers</a>
      <br> Michael D. Bond and Kathryn S. McKinley

    </td></tr><tr>
      <td> CGO 2004
      </td><td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#tpp">Targeted Path Profiling: Lower Overhead Path Profiling for Staged Dynamic Optimization Systems</a>
      <br> Rahul Joshi, Michael D. Bond, and Craig Zilles

    </td></tr></tbody></table>

    <h3>Dissertations and Theses</h3>
    <table>

    <tbody><tr>
      <td> PhD dissertation (2017)
      </td><td> Efficient, Practical Dynamic Program Analyses for Concurrency Correctness
      <br> Man Cao

    </td></tr><tr>
      <td> PhD dissertation (2017)
      </td><td> Efficient Compiler and Runtime Support for Serializability and Strong Semantics on Commodity Hardware
      <br> Aritra Sengupta

    </td></tr><tr>
      <td> PhD dissertation (2016)
      </td><td> <a href="http://rave.ohiolink.edu/etdc/view?acc_num=osu1470957618">Practical Support for Strong, Serializability-Based Memory Consistency</a>
      <br> Swarnendu Biswas

    </td></tr><tr>
      <td> PhD dissertation (2016)
      </td><td> <a href="http://rave.ohiolink.edu/etdc/view?acc_num=osu1469557197">Efficient Runtime Support for Reliable and Scalable Parallelism</a>
      <br> Minjia Zhang

    </td></tr><tr>
      <td> Master's thesis (2014)
      </td><td> <a href="http://rave.ohiolink.edu/etdc/view?acc_num=osu1397231571">Efficient Context Sensitivity for Dynamic Analyses via Calling Context Uptrees and Customized Memory Management</a>
      <br> Jipeng Huang

    </td></tr><tr>
      <td> PhD dissertation (2008) &nbsp;&nbsp;
      </td><td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#thesis">Diagnosing and Tolerating Bugs in Deployed Systems</a>
      <br> Michael David Bond

    </td></tr></tbody></table>

  

<script> var _hmt = _hmt || []; (function() { var hm = document.createElement("script"); hm.src = "https://hm.baidu.com/hm.js?0bd5902d44e80b78cb1cd01ca0e85f4a"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s); })(); </script></body></html>