<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<!-- saved from url=(0043)https://www.cse.iitk.ac.in/users/swarnendu/ -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><style type="text/css">
        body,
        td,
        th {
            font-size: 18px;
            color: #000;
        }

        a {
            font-family: Helvetica, sans-serif;
        }

        a:hover {
            color: #000;
        }

    </style>

    
        
        <title>Swarnendu Biswas' Home Page</title>
        <meta content="Swarnendu Biswas" name="author">
        <meta content="Swarnendu Biswas&#39; IITK Home Page" name="description">
    </head>

    <body link="black" style="font-size:14pt">

        <style>
            .disabled {
                pointer-events: none;
                cursor: default;
            }

            li {
                margin: 4px 0;
            }

        </style>

        <br>

        <table border="0" width="100%">
            <tbody>
                <tr>
                    <td height="203" width="200">
                        <img style="border: 0px solid ; width: 200px; height: 195px;" alt="Swarnendu Biswas" src="./Swarnendu Biswas&#39; Home Page_files/me-personal.jpg" id="personal" hspace="20"> </td>

                    <td width="553">
                        <h1><span style="font-weight:normal">Swarnendu Biswas</span></h1>
                        <h4><span style="font-weight:normal">Assistant Professor
                                <br>
                                <a href="https://www.cse.iitk.ac.in/" target="_blank" style="text-decoration:none;">CSE</a>,
                                <a href="http://iitk.ac.in/" target="_blank" style="text-decoration:none;">IIT Kanpur</a>
                            </span>
                        </h4>
                    </td>
                </tr>
            </tbody>
        </table>

        <hr>

        <h3 align="center"> &nbsp;&nbsp;
            <span style="font-size: 18pt">
                <a href="https://www.cse.iitk.ac.in/users/swarnendu/#Contact" style="text-decoration:none;font-weight: normal">Contact</a>
                &nbsp;&nbsp; |
                &nbsp;&nbsp;
                <a href="https://www.cse.iitk.ac.in/users/swarnendu/#Research" style="text-decoration:none;font-weight: normal"> Research</a>
                &nbsp;&nbsp; |
                &nbsp;&nbsp;
                <a href="https://www.cse.iitk.ac.in/users/swarnendu/#Publications" style="text-decoration:none;font-weight: normal">Publications</a> &nbsp;&nbsp;
                | &nbsp;&nbsp;
                <a href="https://www.cse.iitk.ac.in/users/swarnendu/#Teaching" style="text-decoration:none;font-weight: normal"> Teaching</a>
                &nbsp;&nbsp; |
                &nbsp;&nbsp;
                <a href="https://www.cse.iitk.ac.in/users/swarnendu/#Service" style="text-decoration:none;font-weight: normal">Service</a>
                &nbsp;&nbsp; |
                &nbsp;&nbsp;
                <a href="https://www.cse.iitk.ac.in/users/swarnendu/#Awards" style="text-decoration:none;font-weight: normal">Awards</a>
                &nbsp;&nbsp; |
                &nbsp;&nbsp;
                <a href="https://www.cse.iitk.ac.in/users/swarnendu/#About" style="text-decoration:none;font-weight: normal">About me |
                    more</a> &nbsp;&nbsp;
            </span>
        </h3>

        <hr>

        <h2><span style="font-weight:normal">
                <a name="Contact">Contact</a></span>
        </h2>

        <p>KD 302, Department of CSE,
            <br> IIT Kanpur,
            <br> Kanpur, UP 208016.
            <br> </p>

        <p>
            Email: swarnendu [AT] cse.iitk.ac.in<br>
            Phone: +91-512-2592055
        </p>

        <hr>

        <h2><span style="font-weight:normal"> <a name="Research">
                    Research</a></span>
        </h2>

        <p>
            My areas of interest are Programming Languages, Compilers and Runtime
            Systems, Software Systems, and Computer Architecture.
        </p>

        <p>
            <span style="font-weight:bold;font-size: 110%">
                I am looking for motivated UG and PG students who are interested in research in the
                general area of programming languages and software systems. Please feel free to stop
                by my office to talk, or email me for discussions.
            </span>
        </p>

        <p>

            I was a postdoctoral fellow
            <!-- at the <a target="_blank" href="http://iss.ices.utexas.edu/">ISS group</a>  -->
            with <a target="_blank" href="http://www.cs.utexas.edu/~pingali/" class="disabled" style="text-decoration:none;">Prof.
                Keshav Pingali</a> at UT Austin.
            For my postdoctoral work, I worked on optimal control of approximate programs using
            domain-specific
            knowledge and machine learning. We also worked on optimal resource allocation problems
            in heterogeneous
            environments. </p>

        <p>
            I did my PhD
            <!-- with the
            <a target="_blank" href="http://www.cse.ohio-state.edu/%7Emikebond/plass/">PLaSS group</a>  -->
            with
            <a href="http://www.cse.ohio-state.edu/~mikebond/" target="_blank" style="text-decoration:none;" class="disabled">Dr.
                Michael Bond</a> at Ohio State. My
            research focused on analyzing concurrency correctness issues (such as atomicity
            violations and data races) in multi-threaded programs.
            <!-- For example, I have worked on devising dynamic program analyses to check for
      atomicity
      violations and data races, which are the two most common source of concurrency errors. -->
            <!-- The challenges in developing such analyses lie in
           balancing precision, correctness, coverage, scalability, and efficiency for practical usage on different systems. My
           work on concurrency is mostly from the perspective of Java programs and is developed in a Java research virtual
           machine. -->
            I also worked on devising runtime techniques to strengthen existing programming language
            memory models by
            providing strong semantic guarantees even for programs with data races.
            <!-- I have worked on developing software-only solutions which
           detect violations of region serializability and can run on commodity hardware. I have also explored more ambitious
           hardware-only techniques to ensure region serializability with modest extensions to the hardware. My simulated
           hardware-based work proposes to replace the existing cache coherence protocols with novel techniques to ensure region
           serializability and snapshot isolation. -->


            <!-- I interned at Google Inc., Mountain View, during the summer of 2013 with the Java Platform
             Team. I worked on implementing
      a prototype of a low-overhead data race detector for Java programs in the Hotspot VM in OpenJDK, using hardware
      breakpoints
      and debug registers which are available on commodity hardware for tracking conflicting accesses to memory
      locations.
    </p> -->

            <!-- My MS research focused on developing improved techniques for automating regression testing of
      embedded programs. The
      work had two parts: developing an automated technique for selecting regression test cases, and then optimizing
      the
      set of selected test cases further.
    </p> -->

            <!--  In addition to traditional control and data dependences, my proposed test case
      selection technique takes into account execution dependences among tasks arising due to different sources such as task
      priorities. My research then extends the benefit of regression testing by proposing a genetic algorithm-based
      multi-objective optimization approach to optimize the set of selected test cases to meet a set of given constraints
      for more effective regression testing. -->

            <!-- I have also worked on regression testing of embedded software. You can check the following web page for more
        information. <a href="http://cse.iitkgp.ac.in/%7Eswarnendub/" target="_blank">Web Page</a></font></p>
      -->

        </p>

        <!-- <hr style="width: 100%; height: 2px;"> -->
        <hr>

        <h2><span style="font-weight:normal"> <a name="Publications"></a>Publications</span></h2>

        <ul>

            <li><a style="text-decoration:none;" href="https://www.cse.iitk.ac.in/users/swarnendu/files/papers/arc-ipdps-2019.pdf">Rethinking
                    Support for Region Conflict Exceptions</a>
                <ul><span style="font-size: 90%">
                        <li>Swarnendu Biswas, Rui Zhang, Michael D. Bond, and Brandon Lucia</li>
                        <li>IPDPS 2019</li>
                        <li> Source: <a style="text-decoration:none;" href="https://github.com/PLaSSticity/ce-arc-simulator-ipdps19" target="">GitHub</a></li>
                    </span>
                </ul>
            </li>

            <li><a href="https://www.cse.iitk.ac.in/users/swarnendu/files/papers/kalman-filters.pdf" target="" style="text-decoration:none;">An
                    Elementary
                    Introduction to Kalman Filtering</a>
                <ul> <span style="font-size: 90%">
                        <li>Yan Pei, Swarnendu Biswas, Donald S. Fussell, and Keshav Pingali</li>
                        <li>Accepted to CACM</li>
                        <li>eprint arXiv:1710.04055 [cs.SY]</li>
                    </span>
                </ul>
            </li>

            <li><a style="text-decoration:none;" href="https://www.cse.iitk.ac.in/users/swarnendu/files/papers/proteus-ieee-software.pdf" target="">Proteus: Language and Runtime
                    Support for
                    Self-Adaptive Software
                    Development</a>
                <ul><span style="font-size: 90%">
                        <li>Lots of authors!</li>
                        <li>IEEE Software Special Issue, March/April 2019</li>
                    </span></ul>
            </li>

            <li><a href="https://www.cse.iitk.ac.in/users/swarnendu/files/papers/slambooster.pdf" target="" style="text-decoration:none;">SLAMBooster: An
                    Application-aware Controller for Approximation in SLAM</a>
                <ul> <span style="font-size: 90%">
                        <li>Yan Pei, Swarnendu Biswas, Donald S. Fussell, and Keshav Pingali</li>
                        <li>eprint arXiv:1811.01516 [cs.RO]</li>
                    </span>
                </ul>
            </li>

            <li><a href="https://www.cse.iitk.ac.in/users/swarnendu/files/papers/topc17.pdf" target="" style="text-decoration:none;">Hybridizing and Relaxing
                    Dependence Tracking for Efficient Parallel Runtime Support</a>
                <ul> <span style="font-size: 90%">
                        <li>Man Cao, Minjia Zhang, Aritra Sengupta, Swarnendu Biswas, and Michael D.
                            Bond</li>
                        <li>ACM TOPC 2017</li>
                    </span>
                </ul>
            </li>

            <li>
                <a href="https://www.cse.iitk.ac.in/users/swarnendu/files/papers/avalon-ismm17.pdf" target="" style="text-decoration:none;">Avoiding Consistency
                    Exceptions Under Strong Memory Consistency Models</a>
                <ul> <span style="font-size: 90%">
                        <li>Minjia Zhang, Swarnendu Biswas, and Michael D. Bond</li>
                        <li>ISMM 2017</li>
                    </span>
                </ul>
            </li>

            <!-- <li><a href="files/papers/arc-techreport-apr2017.pdf" target=""
                    style="text-decoration:none;">Efficient
                    Architecture Support for Region-Serializability-Based Consistency</a>
                <ul><span style="font-size: 90%">
                        <li>Swarnendu Biswas, Rui Zhang, Michael D. Bond, and Brandon Lucia</li>
                        <li>Technical Report, CSE, Ohio State
                            University, 2017</li>
                    </span>
                </ul>
            </li> -->

            <!-- <li>Minjia Zhang, Swarnendu Biswas, and Michael D. Bond. <a href="files/papers/snappy-techreport-apr2016.pdf" target="">All That Glitters Is Not Gold: Improving Availability and Practicality of Exception-Based Memory Models.</a> Technical Report, CSE, Ohio State University, 2016.
           </li>
         -->
            <li><a href="https://www.cse.iitk.ac.in/users/swarnendu/files/papers/racechaser-caper-cc-2017.pdf" target="" style="text-decoration:none;">Lightweight
                    Data Race Detection for Production Runs.</a>
                <ul><span style="font-size: 90%">
                        <li>Swarnendu Biswas, Man Cao, Minjia Zhang, Michael D. Bond, and Benjamin
                            P. Wood</li>
                        <li>CC 2017</li>
                        <li> CC Talk:
                            <a href="https://www.cse.iitk.ac.in/users/swarnendu/files/papers/cc2017.pdf" target="">pdf</a>
                            <a href="https://www.cse.iitk.ac.in/users/swarnendu/files/papers/cc2017.pptx" target="">pptx</a>
                        </li>
                        <li> Source:
                            <a href="https://sourceforge.net/p/jikesrvm/research-archive/55/" target="">Jikes RVM
                                Research
                                Archive</a>
                        </li>
                    </span>
                </ul>
            </li>

            <li><a href="https://www.cse.iitk.ac.in/users/swarnendu/files/papers/relaxed-tracking-cc-2016.pdf" target="" style="text-decoration:none;">Relaxed
                    Dependence Tracking for Parallel Runtime Support</a>
                <ul><span style="font-size: 90%">
                        <li>Minjia Zhang, Swarnendu Biswas, and Michael D. Bond</li>
                        <li>CC 2016</li>
                    </span>
                </ul>
            </li>

            <li> <a href="https://www.cse.iitk.ac.in/users/swarnendu/files/papers/valor-oopsla-2015.pdf" target="" style="text-decoration:none;">Valor: Efficient,
                    Software-Only Region Conflict Exceptions</a>
                <ul><span style="font-size: 90%">
                        <li>Swarnendu Biswas, Minjia Zhang, Michael D. Bond, and Brandon Lucia</li>
                        <li>OOPSLA 2015</li>
                        <li> Awarded <i>OOPSLA'15 Distinguished Paper</i> and <i>OOPSLA'15
                                Distinguished Artifact</i>
                        </li>
                        <li> OOPSLA Talk:
                            <a href="https://www.cse.iitk.ac.in/users/swarnendu/files/papers/valor-oopsla2015-talk.pdf" target="">pdf</a>
                            <a href="https://www.cse.iitk.ac.in/users/swarnendu/files/papers/valor-oopsla2015-talk.pptx" target="">pptx</a>
                        </li>
                        <!-- <li> First prize at <a href="http://conf.researchr.org/home/pldi2015" target="">PLDI 2015 SRC</a>.</li> -->
                        <li> Source:
                            <a href="https://sourceforge.net/p/jikesrvm/research-archive/51/" target="">Jikes RVM Research Archive</a>
                        </li>
                    </span>
                </ul>
            </li>

            <li><a href="https://www.cse.iitk.ac.in/users/swarnendu/files/papers/EnfoRSer-asplos-2015.pdf" target="" style="text-decoration:none;">Hybrid
                    Static-Dynamic Analysis for Region Serializability</a>
                <ul><span style="font-size: 90%">
                        <li>Aritra Sengupta, Swarnendu Biswas, Minjia Zhang, Michael D. Bond, and
                            Milind Kulkarni</li>
                        <li>ASPLOS 2015</li>
                    </span>
                </ul>
            </li>

            <li><a href="https://www.cse.iitk.ac.in/users/swarnendu/files/papers/doublechecker-pldi2014.pdf" target="" style="text-decoration:none;">DoubleChecker:
                    Efficient Sound and Precise Atomicity Checking</a>
                <ul><span style="font-size: 90%">
                        <li>Swarnendu Biswas, Jipeng Huang, Aritra Sengupta, and Michael D. Bond
                        </li>
                        <li>PLDI 2014</li>
                        <li> PLDI Talk:
                            <a href="https://www.cse.iitk.ac.in/users/swarnendu/files/papers/doublechecker-pldi2014-talk.pdf" target="">pdf</a>
                            <a href="https://www.cse.iitk.ac.in/users/swarnendu/files/papers/doublechecker-pldi2014-talk.pptx" target="">pptx</a>
                        </li>
                        <li> Source:
                            <a href="https://sourceforge.net/p/jikesrvm/research-archive/45/" target="">Jikes RVM Research Archive</a>
                        </li>
                    </span>
                </ul>
            </li>

            <li><a href="https://www.cse.iitk.ac.in/users/swarnendu/files/papers/a47-biswas.pdf" target="" style="text-decoration:none;">A
                    Regression Test Selection Technique for Embedded Software</a>
                <ul><span style="font-size: 90%">
                        <li> Swarnendu Biswas, Rajib Mall, and Manoranjan Satpathy </li>
                        <li> ACM TECS 2013 </li>
                    </span>
                </ul>
            </li>

            <li> <a href="https://www.cse.iitk.ac.in/users/swarnendu/files/papers/octet.pdf" target="" style="text-decoration:none;">Octet:
                    Capturing and Controlling Cross-Thread Dependences Efficiently</a>
                <ul><span style="font-size: 90%">
                        <li>Michael D. Bond, Milind Kulkarni, Man Cao, Minjia Zhang, Meisam Fathi
                            Salmi, Swarnendu Biswas, Aritra Sengupta, and Jipeng Huang</li>
                        <li>OOPSLA 2013</li>
                    </span>
                </ul>
            </li>

            <li><a href="http://www.actapress.com/Abstract.aspx?paperId=43122" target="" style="text-decoration:none;">Model-Based
                    Regression Test Suite Optimization For Embedded Programs</a>
                <ul><span style="font-size: 90%">
                        <li> Swarnendu Biswas and Rajib Mall </li>
                        <li>ACTA Press JSE 2012</li>
                    </span>
                </ul>
            </li>

            <li><a href="https://www.cse.iitk.ac.in/users/swarnendu/files/papers/ieeeesl.pdf" target="" style="text-decoration:none;">Task
                    Dependency Analysis for Regression Test Selection of Embedded Programs</a>
                <ul><span style="font-size: 90%">
                        <li>Swarnendu Biswas, Rajib Mall, and Manoranjan Satpathy</li>
                        <li>IEEE ESL 2011</li>
                    </span>
                </ul>
            </li>

            <li><a href="https://www.cse.iitk.ac.in/users/swarnendu/files/papers/informaticasurvey.pdf" target="" style="text-decoration:none;">Regression Test Selection Techniques: A Survey</a>
                <ul><span style="font-size: 90%">
                        <li>Swarnendu Biswas, Rajib Mall, Manoranjan Satpathy, and Srihari Sukumaran
                        </li>
                        <li>Informatica 2011</li>
                    </span>
                </ul>
            </li>

            <li><a target="" href="https://www.cse.iitk.ac.in/users/swarnendu/files/papers/sigsoftsen.pdf" style="text-decoration:none;">A
                    Model-Based Regression Test Selection Approach for Embedded Applications</a>
                <ul><span style="font-size: 90%">
                        <li>Swarnendu Biswas, Rajib Mall, Manoranjan Satpathy, and Srihari Sukumaran
                        </li>
                        <li>ACM SIGSOFT SEN 2009 </li>
                    </span>
                </ul>
            </li>

        </ul>

        <!-- <hr style="width: 100%; height: 2px;"> -->
        <hr>

        <h2><span style="font-weight:normal"><a name="Teaching"></a>Teaching</span></h2>

        <h4><span style="font-weight:normal">IIT Kanpur</span></h4>

        Semester 2018-2019-II: <a href="https://www.cse.iitk.ac.in/users/swarnendu/courses/cs636/">CS 636: Analysis of Concurrent Programs</a>

        <p></p>

        <h4><span style="font-weight:normal">Ohio State University</span></h4>

        Winter Quarter 2012:
        <!-- <a href="http://www.cse.ohio-state.edu/%7Ebiswas.38/cse202wi12/"
            target="_top"> -->
        CSE 202:
        Introduction to
        Programming and Algorithms for Engineers and Scientists U 4
        <!-- </a> -->
        <br>

        <p></p>
        <hr>

        <h2><span style="font-weight:normal"> <a name="Awards"></a>Awards</span>
        </h2>

        <ul>
            <li> First prize for
                <a href="https://www.cse.iitk.ac.in/users/swarnendu/files/papers/acm-src-grand-finals-pldi-2015-g-valor.pdf" target="">"Valor:
                    Efficient, Software-Only Region Conflict Exceptions"</a> in the Graduate
                category at
                <a href="http://src.acm.org/" target="">ACM SRC Grand Finals 2016</a>.</li>

            <li> Graduate Research Award, Department of Computer Science and Engineering, Ohio State
                University, 2016.
            </li>

            <li> First prize for
                <a href="http://dl.acm.org/citation.cfm?id=2815375&amp;CFID=578709169&amp;CFTOKEN=32848338" target="">"Viser: Providing Serializability in Hardware With Simplified Cache
                    Coherence"</a> in the Graduate
                category at
                <a href="http://2015.splashcon.org/" target="">OOPSLA 2015 SRC</a>.</li>

            <li>
                <a href="https://www.cse.iitk.ac.in/users/swarnendu/files/papers/valor-oopsla-2015.pdf" target="">Valor</a> awarded
                <i>OOPSLA'15 Distinguished Paper</i> at OOPSLA 2015.
            </li>

            <li>
                <a href="https://www.cse.iitk.ac.in/users/swarnendu/files/papers/valor-oopsla-2015.pdf" target="">Valor</a> awarded
                <i>OOPSLA'15 Distinguished Artifact</i> by the OOPSLA 2015 Artifact Evaluation
                Committee.</li>
            <li> First prize for
                <a href="https://www.cse.iitk.ac.in/users/swarnendu/files/papers/valor-pldi-2015-src.pdf" target="">"Low Overhead Region
                    Conflict Detection"</a>
                in the
                Graduate category at
                <a href="http://conf.researchr.org/home/pldi2015" target="">PLDI 2015 SRC</a>.</li>
        </ul>

        <hr>

        <h2><span style="font-weight:normal"> <a name="Service"></a>Service</span>
        </h2>

        <ul>
            <li>
                <a href="https://pldi19.sigplan.org/" style="text-decoration:none;">PLDI 2019
                    ERC</a>,
                <a href="http://conf.researchr.org/home/ismm-2017" target="_blank" style="text-decoration:none;">ISMM
                    2017 PC</a>, <a href="http://2015.splashcon.org/track/splash2015-artifacts" target="_blank" style="text-decoration:none;">OOPSLA
                    2015 AEC</a>, <a href="http://conf.researchr.org/track/pldi2015/PLDI+2015+Artifact+Evaluation" target="_blank" style="text-decoration:none;">PLDI 2015
                    AEC</a>
            </li>

            <li>
                Reviewer: Transactions of Parallel and Distributed Systems, IET Software
            </li>
        </ul>

        <hr>

        <h2><span style="font-weight:normal"> <a name="About"></a>About me | more</span>
        </h2>

        <!-- <h4>Work Experience</h4>

    During my MS, I worked as a research assistant at IIT Kharagpur (September 2008 to August 2011). The project was
    sponsored
    by General Motors India. My work was on developing automated and efficient regression test selection approaches
    for
    automotive
    software.
    <br>

    <br> I worked as a software developer at Wipro Technologies for three years (August 2005 to August 2008). I was
    involved
    in software development in the Unified Communications and Automotive Software domains.
    <br> -->

        <h4><span style="font-weight: normal"> Education</span></h4>

        <ul>
            <li>PhD, Computer Science and Engineering, Ohio State University, 2016,
                <a href="https://www.cse.iitk.ac.in/users/swarnendu/files/papers/swarnendu-biswas-dissertation.pdf" ,="" target="">Dissertation</a>. </li>

            <li> MS, Computer Science and Engineering, Ohio State University, 2015. </li>

            <li>MS, Computer Science and Engineering, IIT Kharagpur, 2011,
                <a href="https://www.cse.iitk.ac.in/users/swarnendu/files/papers/swarnendu-biswas-ms-thesis-iitkgp.pdf" ,="" target="">Thesis</a>.
            </li>

            <li>BE, Computer Science and Engineering, NIT Durgapur, 2005.
            </li>
        </ul>

        <h4><span style="font-weight:normal"> <a name="Misc">Miscellaneous</a></span>
        </h4>

        <ul>
            <li> I love GNU Emacs, and maintain my
                <a target="" href="https://github.com/swarnendubiswas/dotemacs.git">Emacs
                    configuration</a> on Github.</li>

            <li> I have shared the <a target="" href="https://github.com/swarnendubiswas/ohio-state-coe-dissertation-template.git">LaTeX
                    template</a> that I used for my candidacy proposal and for my PhD dissertation
                at Ohio State, since no LaTeX template is available from the graduate school web
                pages (as of August 2016).</li>
        </ul>

        <hr>

        <br>

        <div align="center">
            <div style="text-align: center;">
                <small>Updated: 2nd March 2019.
                    <!-- Swarnendu Biswas. -->
                </small>
            </div>
        </div>

    


<script src="./Swarnendu Biswas&#39; Home Page_files/hm.js.下载"></script><script> var _hmt = _hmt || []; (function() { var hm = document.createElement("script"); hm.src = "https://hm.baidu.com/hm.js?0bd5902d44e80b78cb1cd01ca0e85f4a"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s); })(); </script></body></html>