body{
    background-color: blanchedalmond;
    color: #555555;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
}

a{
    text-decoration: none;
    color: #555555;

}
a.activate{

}

.width{
    width: 35%;
    margin: auto;
}


.instruction{
    background-image: linear-gradient(rgba(255,255,255,0.45), rgba(255,255,255,0.45)), url("images/background_image.JPG");
    color: black;
    border: 5px yellow dashed;
    padding: 20px;
    opacity: 1;
    font-weight: bold;
    font-size: 18px;

}


.instruction h1{
    text-align: center;
}

.buttons{
    background-color: #cccccc;
    width: 10%;
    margin: auto;
    border: 1px #cccccc solid;
    text-align: center;
}

.buttons:hover{
    background: coral;
    color: red;

}


#navbar ul{

    padding: 40px;
    list-style: none;

}
#navbar li{
   
    border: 10px solid #ccc;
    text-align: center;
    float: left;
    width:25%;
    display: inline;
    box-sizing: border-box;
}

.cards button{
    width: 30%;
    border: 2px solid #ccc;
    float:left;
    display: inline;
    text-align: center;
    box-sizing: border-box;

}
.cards:hover{
    background: coral;
    color: red;

}


