body{
    background-color: blanchedalmond;
    color: #555555;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
}

a{
    text-decoration: none;
    color: #555555;

}

.width{
    width: 30%;
    margin: auto;
}


.instruction{
    background-image: linear-gradient(rgba(255,255,255,0.45), rgba(255,255,255,0.45)), url("images/background_image.JPG");
    color: black;
    border: 5px yellow dashed;
    padding: 20px;
    opacity: 1;
    font-weight: bold;
    font-size: 18px;

}


.instruction h1{
    text-align: center;
}

.buttons_area{
    width:100%;
    margin:20% 20% 10% 13%;
}
.buttons{
    font-size: 100%;
    background-color: whitesmoke;
    width: 20%;
    margin: auto;
    border: 1px #cccccc solid;
    text-align: center;
}

.buttons:hover{
    background: coral;
    color: red;

}

.cards_div{
    width:50%;
}
.cards{
    margin:10px 20px ;
    border: 2px solid #ccc;
    text-align: center;
    box-sizing: border-box;

}
.cards:hover{
    background: coral;
    color: red;
}


