<div class="row mt-4">
  <div class="col-sm-4 mt-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Manage projects</h5>
        <a href="/admin/projects" class="btn btn-primary">Go to projects</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 mt-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Manage teachers</h5>
        <a href="/admin/teachers" class="btn btn-primary">Go to teachers</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 mt-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Manage students</h5>
        <a href="/admin/students" class="btn btn-primary">Go to students</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 mt-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Manage users</h5>
        <a href="/admin/users" class="btn btn-primary">Go to users</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 mt-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Manage applies</h5>
        <a href="/admin/applies" class="btn btn-primary">Go to applies</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 mt-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Manage graders</h5>
        <a href="/admin/graders" class="btn btn-primary">Go to graders</a>
      </div>
    </div>
  </div>
</div>
