<h1>Editing Admin Grader</h1>

<%= render 'form' %>

<div class="mt-4">
  <%= link_to 'Show', admin_grader_path(@grader), class: 'btn btn-success' %>
  <%= link_to 'Back', admin_graders_path, class: 'btn btn-success' %>
</div>
