<div class="row mt-4">
  <div class="col-sm-4 mt-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Manage students</h5>
        <a href="/teacher/students" class="btn btn-primary">Go to students</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 mt-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Manage graders</h5>
        <a href="/teacher/graders" class="btn btn-primary">Go to graders</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 mt-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Manage projects</h5>
        <a href="/teacher/projects" class="btn btn-primary">Go to projects</a>
      </div>
    </div>
  </div>
</div>
