//Common
body {
  width: 100%;
  color: #333;
  background: black;
  background: rgba(250, 250, 250, 1);
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
  "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
  "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
  "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
}

a {
  text-decoration: none;
  color: red;
  &:focus,
  &:hover {
  }
}

.sub_header {
  width: 1000px;
  height: 154px;
  margin: 67px auto 0;
}

.sub_header_gray {
  width: 100%;
  height: 56px;
  line-height: 56px;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  color: rgba(102, 102, 102, 1);
}

.sub_header_red {
  width: 100%;
  position: relative;
  bottom: 77px;
  left: 9px;
  text-align: center;
  font-size: 70px;
  font-weight: 600;
  color: rgba(192, 1, 0, 1);
}

.context_mid {
  width: 1000px;
  margin: 0 auto;
}

//HomePage
.home_body {
  justify-content: center;
  width: 100%;
}

#intro {
  width: 100%;
  height: 845px;
}

#group {
  height: 778px;
}

#news {
  height: 1058px;
}

#button {
  height: 886px;
}

#prof_pic {
  width: 410px;
  height: 473px;
  margin-left: 5%;
  float: left;
}

#prof_text {
  width: 371px;
  height: 365px;
  margin-top: 27px;
  margin-left: 5%;
  float: left;
}

hr {
  width: 94px;
  position: relative;
  bottom: 140px;
  border: 3px solid rgba(102, 102, 102, 1);
}

#title {
  height: 249px;
}

#contact {
  height: 76px;
  position: relative;
  top: 40px;
}

.contact_col {
  height: 33px;
}

#contact br {
  height: 10px;
}

.contact_logo {
  width: 20px;
  height: 15px;
  position: relative;
  top: 8px;
  float: left;
}

.contact_text {
  float: left;
}

.contact_text h3 {
  margin-top: 5px;
  margin-left: 16px;
  margin-bottom: 0;
}

.group_context {
  width: 1002+80px;
  height: 362px;
  margin-top: 65px;
  position: relative;
  right: 50px;
}

#group_pic {
  padding-left: 80px;
  float: left;
}

#group_text {
  width: 501px;
  height: 330px;
  margin-top: -5px;
  float: left;
}

#group_text p {
  width: 501px;
  line-height: 18px;
  font-size: 24px;
  font-weight: 400;
  color: rgba(29, 29, 29, 1);
}

#new_list {
  width: 45+1290px;
  height: 665px;
  position: relative;
  right: 70px;
  top: 70px;
}

#new_list li {
  height: 48px;
  margin-bottom: 30px;
  font-size: 23px;
}

#button_col {
  width: 380+599+380+110px;
  height: 33+16+474px;
  position: relative;
  top: 140px;
  right: 60px;
}

.button_set {
  width: 380px;
  height: 33+16+474px;
  margin-right: 109px;
  float: left;
}

.button_pic {
  width: 380px;
  height: 474px;
}

.button_text {
  width: 380px;
  height: 33px;
  margin-top: 16px;
  line-height: 33px;
  font-size: 24px;
  font-weight: 600;
  color: rgba(102, 102, 102, 1);
}

//Teaching Page
.time-vertical {
  padding: 0px;
  float: left;
  list-style-type: none;
}

.time-vertical li {
  height: 100px;
  position: relative;
}

.time_line {
  width: 700px;
  display: inline-block;
  margin-left: 20px;
  margin-top: 15px;
  line-height: 33px;
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  color: #000;
  color: rgba(28, 28, 28, 1);
}

.time-vertical li b:before {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 15px;
  left: -12px;
  border: 2px solid #FF0000;
  border-radius: 10px;
  content: '';
  background: #FF0000;
}

#table_con {
  width: 1600px;
  margin: 0 auto;
  padding-top: 100px;
}

#table_right {
  width: 750px;
  border-left: 5px solid #7b7b7b;
}

#table_left {
  width: 750px;
}

#teaching_body {
  width: 100%;
  height: 2100px;
  justify-content: center;
}



//Activity Page
#mics_body {
  width: 100%;
  height: 3398px;
}

#mics_act {
  width: 100%;
  height: 2578 - 1001px;
}

#mics_awa {
  width: 100%;
  height: 1011px;
}

#mics_fun {
  width: 100%;
  height: 820px;
  position: relative;
  bottom: 100px;
}

.activity_col {
  width: 695 + 59 + 760px;
  height: 560px;
  margin-top: 50px;
  position: relative;
  right: 200px;
}

.activity_pic {
  width: 695px;
  height: 551px;
  float: left;
}

.activity_text {
  width: 718px;
  height: 560px;
  position: relative;
  bottom: 5px;
  float: left;
}

#activity_top_pic {
  position: relative;
  left: 56px;
  top: 4px;
}

#activity_bot_text {
  position: relative;
  left: 76px;
}

#activity_bot_pic {
  position: relative;
  left: 25px;
  top: 34px;
}

.activity_col p {
  font-size: 18px;
  font-weight: 400;
  line-height: 16px;
  color: rgba(28, 28, 28, 1);
}

#awards_list {
  position: relative;
  top: 50px;
  line-height: 35px;
  font-size: 24px;
  font-weight: 400;
  color: rgba(28, 28, 28, 1);
}

#awards_list li {
  margin-top: 25px;
}

#fund_col {
  width: 563 +139+362px;
  height: 382px;
  margin-top: 50px;
}

#fund_pic {
  width: 563px;
  height: 382px;
  float: left;
}

#fund_text {
  width: 362px;
  height: 231px;
  position: relative;
  top: 72px;
  left: 139px;
  line-height: 33px;
  font-size: 24px;
  font-weight: 400;
  color: rgba(28, 28, 28, 1);
  float: left;
}

// Header_page_level_1
#header_con {
  width: 100%;
  height: 830px;
  background: #050b18 center center no-repeat;
}

#header_bar {
  width: 100%;
  height: 100px;
  background: rgba(50, 50, 50, 1);
  opacity: 0.4496;
}

#header_tri {
  width: 584px;
  height: 536px;
  position: relative;
  float: left;
}

#box_tri {
  width: 1500px;
  height: 545px;
  margin: 0 auto;
  position: relative;
  top: 80px;
}

#header_box {
  width: 732px;
  height: 423px;
  position: relative;
  left: 120px;
  top: 40px;
  float: left;
  background: rgba(41, 41, 41, 0.5);
}


#header_text {
  width: 732px;
  height: 100px;
  position: relative;
  line-height: 128px;
  font-size: 80px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}

#header_bar_link p {
  width: 46px;
  height: 32px;
  padding-left: 80px;
  position: relative;
  top: -7px;
  left: 300px;
  line-height: 32px;
  display: table-cell;
}

#header_bar_link a {
  font-size: 23px;
  color: rgba(255, 255, 255, 1);
}

#header_logo {
  width: 113px;
  height: 39px;
  position: relative;
  top: 31px;
  left: 160px;
  display: table-cell;
}

// Header_page_level_2
#l2_header_con {
  width: 100%;
  height: 519px;
  background: #050b18 center center no-repeat;
}

#l2_header_box {
  width: 524px;
  height: 154px;
  position: relative;
  left: 375px;
  top: 45px;
  background: rgba(50, 131, 203, 0.5);
  float: left;
}

#l2_header_tri {
  width: 292px;
  height: 268px;
  position: relative;
  left: 372px;
  bottom: 30px;
  float: left;
}

#l2_header_text {
  width: 228px;
  height: 126px;
  position: relative;
  left: 120px;
  top:1px;
  bottom: 30px;
  font-size: 50px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  line-height: 60px;
}

//Footer
.footer {
  width: 100%;
  height: 252px;
  background: rgba(102, 102, 102, 1);
}

#footer_logo {
  width: 274px;
  height: 50px;
  padding-bottom: 10px;
  top: 14px;
  background: rgba(102, 102, 102, 1);
}

#footer_address {
  top: 20px;
}

.footer_cell {
  width: 400px;
  position: relative;
  font-size: 13px;
  display: table-cell;
  color: #FFFFFF;
}

.footer_cell a {
  color: #FFFFFF;
}

.footer_cell h3 {
  font-size: 15px;
}

// Research & Publication & Group

.research_body {
  width: 100%;
  height: 3200px;
  background: rgba(250, 250, 250, 1);
}

#students {
  width: 100%;
  height: 850px;
  background: rgba(255, 255, 255, 1);
}
.student_context {
  width: 1000px;
  height: 157px;
  margin-top: 65px;
  position: relative;
  left: 100px;
}

.student_pic {
  padding-right: 35px;
  padding-left: 70px;
  float: left;
}

.student_info {
  width: 500px;
  height: 100px;
  margin-top: 40px;
  float: left;
}
.student_info h1{
  line-height:43px;
  font-size:28px;
  font-weight:400;
  color:rgba(29,29,29,1);
}


#plass_full_name{
  width: 906px;
  height: 80px;
  position: relative;
  left: 80px;
}

#plass_full_name h3{
  line-height:40px;
  font-size:28px;
  font-weight:700;
  color:rgba(29,29,29,1);
}

.plass_col{
  width: 1500px;
  height: 473px;
  margin-top: 100px;
  position: relative;
  right: 140px;
}

.plass_text_area{
  width: 750px;
  height: 450px;
  float: left;
}

.plass_text_tile h3{
  line-height:40px;
  font-size:30px;
  font-weight:700;
  color:rgba(29,29,29,1);
}

#plass_text_a1{
  margin-right: 100px;
  position: relative;
  top: 10px;
}

#plass_text_a2{
  margin-left: 100px;
  position: relative;
  top: 10px;
}
.plass_text_line p{
  line-height:43px;
  font-size:24px;
  font-weight:400;
  color:rgba(29,29,29,1);
}
.plass_pic{
  width: 605px;
  height: 473px;
  float: left;
  background: #333333;
}

#achievement {
  width: 100%;
  height: 650px;
}

#achievement_context {
  width: 800px;
  height: 400px;
  margin-top: 65px;
  position: relative;
}

#achievement_text {
  width: 200px;
  height: 100px;
  float: left;
}

#achievement_pic {
  padding-right: 60px;
  float: left;
}

#achievement_text p {
  width: 1000px;
  line-height: 30px;
  font-size: 28px;
  font-weight: 400;
  color: rgba(29, 29, 29, 1);
}

#achievement_text h1 {
  width: 800px;
  line-height: 0px;
  font-size: 36px;
  font-weight: 400;
}

#publication {
  width: 100%;
  height: 1432px;
  background: rgba(255, 255, 255, 1);
}

#publication_context {
  width: 1200px;
  height: 1200px;
  margin-top: 65px;
  position: relative;
  right: 70px;
}

.publication_content {
  width: 1200px;
  height: 45px;
  position: relative;
  display: flex;
}
#publication_context h1{
  width: 400px;
  position: relative;
  left: 380px;
}

.publication_content li {
  width: 450px;
  margin-top: 0px;
  font-size: 30px;
}

.publication_content p {
  width: 1200px;
  margin-top: 5px;
  font-size: 28px;
}

.publication_author {
  padding-left: 328px;
  margin-top: 0px;
  font-size: 28px;
  color: rgba(102, 102, 102, 1);
}

.publication_body {
  width: 100%;
}

#publication_full {
  width: 1000px;
  height: 7200px;
  margin-top: 65px;
  position: relative;
}

.red_link_button {
  width: 309px;
  height: 68px;
  margin: auto 0;
  position: relative;
  left: 350px;
  border-radius:34px;
  background: #FF0000;
}

.red_link_button_text{
  width:96px;
  height:33px;
  position: relative;
  top: 20px;
  left: 123px;
  line-height:33px;
  font-size:24px;
  font-weight:400;
}

.red_link_button_text a{
  color:rgba(255,255,255,1);
}

#group_body{
  width: 100%;
  height: 5200px;
}

#group_member{
  width: 100%;
  height: 2400px;
}
#group_graduated{
  width: 1000px;
  height: 400px;
  margin-top: 200px;
}

.group_title h3{
  line-height:40px;
  font-size:38px;
  font-weight:700;
  color:rgba(29,29,29,1);
}
.group_line p{
  position: relative;
  left: 120px;
  line-height:43px;
  font-size:24px;
  font-weight:400;
  color:rgba(29,29,29,1);
}

//Publication Detail

#pdcontext {
  width: 1200px;
  height: 1200px;
  margin-top: 65px;
  position: relative;
  right: 70px;
}

.pd_content {
  width: 1200px;
  height: 45px;
  position: relative;
  display: flex;
}
#pd_context h1{
  width: 400px;
  position: relative;
  left: 380px;
}

.pd_content li {
  width: 450px;
  margin-top: 0px;
  font-size: 30px;
}

.pd_content p {
  width: 900px;
  margin-top: 5px;
  font-size: 28px;
}

.pd_author {
  padding-left: 30px;
  font-size: 17px;
  color: rgba(102, 102, 102, 1);
}

.pd_body {
  width: 100%;
}

.pd_mag{
  line-height:35px;
  font-size:24px;
  font-weight:400;
  color:rgba(28,28,28,1);
}

#pub_con_mid{
  position: relative;
  right: 120px;
}

.pd_list_warp{
  width: 1300px;
  height: 710px;
}

.pd_ls_left{
  width: 300px;
  float: left;
}

.pd_ls_right{
  width: 1000px;
  float: left;
}

.pd_ul_right{

}

.pd_ul{
  padding: 0px;
  list-style-type: none;
}

.pd_th{
  align-content: end;
  line-height:35px;
  font-size:16px;
  font-weight:400;
  color:rgba(28,28,28,1);
}

.pd_pdf{
  position: relative;
  left: 30px;
  line-height:35px;
  font-size:16px;
  font-weight:400;
  color:rgba(28,28,28,1);
}

.pd_ul_right{
  width: 300px;
  margin: 0px;
  padding: 0;
  float: right;
}

.pd_title{
  position: relative;
  left: 30px;
  line-height:35px;
  font-size:24px;
  font-weight:400;
  color:rgba(28,28,28,1);
}
